<div
  class="d-flex justify-content-between">
  <div class="d-flex">
    <span class="">
      <img
        [src]="job.companyLogo"
        alt="{{ job.companyName }}"
        class="img-responsive"
        style="max-height: 50px;">
    </span>
    <div class="">
      <a style="cursor: pointer;"
      [routerLink]="[job.id]"
      routerLinkActive="active" 
      class="list-group-item-heading">{{ job.title }}</a>
      <div>
        <span>Company: {{ job.companyName }}</span>
        <span>Reference: {{ job.reference }}</span>
      </div>
      
    </div>
  </div>
  <div>
    <span [id]="'star-' + job.id" class="icon-star star" (click)="onAddToFavorites()" [class.favorite]="job.isFavorite"></span>
  </div>
</div>